.address {
  font-style: normal;
}

.address__text {
  display: block;
  text-decoration: none;
  color: #333333;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 223px;
  }
}

.address__number {
  display: block;
  text-decoration: none;
  color: #333333;
}
