.advantages {
  padding: 50px 20px 60px 20px;
}

.advantages__title {
  color: #7859cf;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__list-title {
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.advantages__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;
}
