.catalog {
  padding: 50px 20px 44px 20px;
  background-color: #f8f8f8;

  @media (min-width: @tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 4px;
  text-align: center;
  color: #7859cf;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.catalog__filter {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__filter-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}
