.catalog {
  padding: 50px 20px 44px 20px;
  background-color: #f8f8f8;
}

.catalog__title {
  margin: 0;
  margin-bottom: 4px;
  text-align: center;
  color: #7859cf;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.catalog__filter-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.catalog__filter-submit {
  background-color: #7859cf;
  color: #ffffff;
  border: none;
  padding: 8px 91px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  margin-bottom: 28px;
  cursor: pointer;
}

.catalog__filter-reset {
  background-color: #ffffff;
  color: #7859cf;
  border: none;
  padding: 8px 97px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  margin-bottom: 28px;
  cursor: pointer;
}
