.pagination {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: right;
  }
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination__item {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.pagination__link {
  text-decoration: none;
  color: #7859cf;
  font-size: 16px;
  line-height: 24px;
}
