.slider {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.slider-wrapper {
  width: 280px;
  text-align: center;
}

.slider__button {
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}

.slider__image {
  margin-bottom: 10px;
}

.slider__alert-new {
  margin-bottom: 4px;
}

.slider__title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.slider__price-zone {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.slider__price-zone-old {
  color: #7859cf;
  margin-right: 6px;
}

.slider__price-zone-new {
  font-weight: 700;
  margin-right: 20px;
}

.slider__price-zone-button {
  border: none;
  background-color: #7859cf;
  color: #ffffff;
  width: 113px;
  padding: 0;
  cursor: pointer;
}
